{% extends 'base.html' %}

{% block x %}
<style>
    .pic:hover
    {
    box-shadow:0px 0px 10px #00796B;
    }
</style>
<div class="fs-2 text-center">News<b class="text-darkcolor">Details</b></div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
     <div class="row">
      {% for x in ndata %}
         <div class="card w-100 h-100 ">
             <img src="/{{x.npic}}" class="card-img-top  pic " alt="...">
             <div class="card-body">
                 <h5 class="card-title">{{x.ntitle}}</h5>
                  <span><b>{{x.nhead}}</b></span><br>
               <p class="card-title">{{x.ndes}}</p>
               <b>{{x.ncategory}}</b><br>
               <i class="fa-solid fa-city"></i> {{x.ncity}}
               <span class="text-muted float-end"><i class="fa-solid fa-calendar-days"></i> Date:
               {{x.ndate}}</span>
             </div>
         </div>
      {% endfor %}
     </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}