{% extends 'base.html' %}

{% block x %}
<style>
    .pic:hover
    {
    box-shadow:0px 0px 10px #00796B;
    }
</style>
<div class="fs-2 text-center">News<b class="text-darkcolor">Details</b></div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
     <div class="row">
      {% for x in ndata %}
         <div class="card w-100 h-100 ">
             <img src="/{{x.spic}}" class="card-img-top  pic " alt="...">
             <div class="card-body">
                 <h5 class="card-title">{{x.shead}}</h5>
                  <span><b>{{x.ssubject}}</b></span><br>
               <p class="card-title">{{x.sdes}}</p>
             </div>
         </div>
      {% endfor %}
     </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
